#title-header {
   -webkit-text-stroke: 0.5px rgba(24, 3, 5, 0.134);
   font: bold;
   font-size: 20px;
   background: rgba(11, 11, 11, 0.825);
   border-radius: 10px;
   color: rgb(108, 13, 13);
   backdrop-filter: blur(30px);
}

.card-lil-title {
   color: rgb(108, 13, 13);
   text-decoration: underline 2px;
}